# 1. Ne pas versionner les données brutes
data/*
!data/.gitkeep

output/*
!output/.gitkeep

Rapport/*
!Rapport/.gitkeep

# 2. Dossiers internes à ignorer
anaconda_projects/
.ipynb_checkpoints/
.Rhistory
.Rproj.user

# 3. Fichiers lourds non versionnés
*.xlsx
*.csv
*.docx

# 4. Autres fichiers à ignorer
*.log
*.tmp
